:root {
    --blue: #2b85cd;
    --white: #ffffff;
    --purple: #8520FF;
  }

.homeContainer{
    padding-top: 5rem;
    background-color: white;
}

.descriptionColHome{
    color: white;
    background-color: var(--blue);
    border-radius: 20px;
    margin-bottom: 2rem;
}

.homePaddingText{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}